# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Node
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.next
out

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
logs/
*.log
model_ckpts/*
!model_ckpts/h6_w7_c4_current_net_small_200_step80000.pth
configs/*
!configs/h6_w7_c4_small_600.yaml 