annotated-types
anyio
async-timeout
certifi
charset-normalizer
click
cloudpickle
contourpy
cycler
docker-pycreds
exceptiongroup
Farama-Notifications
fastapi
filelock
fonttools
fsspec
gitdb
GitPython
gym
gym-notices
gymnasium
h11
idna
Jinja2
kiwisolver
loguru
MarkupSafe
matplotlib
mpmath
networkx
numpy
packaging
Pillow
platformdirs
prodigyopt
protobuf
psutil
pydantic
pydantic_core
pygame
pyparsing
python-dateutil
PyYAML
redis
requests
sentry-sdk
setproctitle
six
smmap
sniffio
starlette
sympy
tqdm
triton
typing-extensions
typing-inspection
urllib3
uvicorn
wandb